<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590945085491-p8ricnf3goj588nv6apdh4bhov860lne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590945085491-p8ricnf3goj588nv6apdh4bhov860lne</string>
	<key>API_KEY</key>
	<string>AIzaSyDbJPUpv4W2hinzQL9qa_yObIiq7m5T0H4</string>
	<key>GCM_SENDER_ID</key>
	<string>590945085491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>duynhan39.intro.Owl</string>
	<key>PROJECT_ID</key>
	<string>owl---sp</string>
	<key>STORAGE_BUCKET</key>
	<string>owl---sp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590945085491:ios:6aa6028ce96a2d7ae19b46</string>
	<key>DATABASE_URL</key>
	<string>https://owl---sp.firebaseio.com</string>
</dict>
</plist>